---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Shuffle from "../utils/Shuffle.jsx";
import Tecnologias from "../components/Tecnologias.jsx";
---

<Layout
  title="Porfolio | Collins Vieira"
  description="Portfolio de Collins Vieira, desarrollador y programador fullstack con 2 años de experiencia. De Chiclayo, Perú."
>
  <main class="px-4 relative z-10">
    <SectionContainer id="home" class="py-16 lg:py-44 pb-12 sm:pb-5 text-white">
      <Shuffle
        text="Hola, soy Collins Vieira"
        colorFrom="#00ffff"
        shuffleDirection="right"
        duration={0.35}
        animationMode="evenodd"
        shuffleTimes={1}
        ease="power3.out"
        stagger={0.03}
        threshold={0.1}
        triggerOnce={true}
        triggerOnHover={true}
        respectReducedMotion={true}
        onShuffleComplete={undefined}
        colorFrom={undefined}
        colorTo={undefined}
        client:load
      />
      <h2 class="text-white text-base lg:text-xl text-pretty" id="description">
        Ingeniero de Sistemas especializado en desarrollo web Full Stack con 2
        años de experiencia diseñando, desarrollando e implementando soluciones
        escalables y eficientes.
      </h2>
      <h2 class="text-white text-sm lg:text-[14px]">De Chiclayo, Perú.</h2>
      <div class="flex items-center pt-4">
        <Badge>Open to work!</Badge>
      </div>
      <nav class="flex gap-x-4 flex-wrap mt-4">
        <SocialPill href="https://github.com/CollinsVieira">
          <Github class="size-6" />
          Github
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/collinsvieira/">
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer>
      <Tecnologias client:load />
    </SectionContainer>
  </main>
  <SectionContainer id="experience">
    <Experience />
  </SectionContainer>
  <SectionContainer id="projects" class="pt-22">
    <h2 class="text-white text-2xl font-bold mb-6 flex items-center gap-x-2">
      <Code class="size-6" />
      Proyectos
    </h2>
  </SectionContainer>
  <SectionContainer class="pb-22">
    <Projects />
  </SectionContainer>
</Layout>

<script>
  import { gsap } from "gsap";
</script>
