---
import Django from "../icons/Django.astro";
import React from "../icons/React.astro";
import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import Javascript from "../icons/Javascript.astro";
import Php from "../icons/PHP.astro";
import Mysql from "../icons/MySQL.astro";
import WordPress from "../icons/Wordpress.astro";
import PostGreSQL from "../icons/Postgres.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import TailwindCss from "../icons/TailwindCss.astro";
import TypeScript from "../icons/TypeScript.astro";
import srcImage from "../assets/ifcet.webp"
import srcImage2 from "../assets/ifcet-aula.webp"
import srcImage3 from "../assets/ifcet-web.webp"
import srcImage4 from "../assets/img4.png"
import srcImage5 from "../assets/img5.png"
import Docker from "../icons/Docker.astro";
import { Image } from "astro:assets";

const PROJECTS = [
    {
        title: "IFCET - Sistema de Gestión de Estudiantes",
        description:
            "Proyecto para la gestión de estudiantes de la empresa IFCET. Módulos de Registros, Reportes, Usuarios, etc.",
        link: "#",
        image: srcImage,
        github: "",
        tags: ["React", "Django", "PostGreSQL"],
    },
    {
        title: "IFCET - Sitio Web",
        description: "Sitio web de la empresa IFCET. Aumentó las ventas en un 20% en su totalidad.",
        link: "#",
        image: srcImage2,
        github: "",
        tags: ["HTML", "CSS", "JavaScript", "WordPress"],
    },
    {
        title: "IFCET - Aula Virtual",
        description: "Aula Virtual para los estudiantes de IFCET.",
        link: "#",
        image: srcImage3,
        github: "",
        tags: ["HTML", "CSS", "JavaScript", "PHP", "MySQL"],
    },
    {
        title: "IFCET - Sitio web",
        description: "Migración del sitio web de IFCET nuevas tecnologías con Astro, React y Django como backend.",
        link: "https://ifcet.com.pe/",
        image: srcImage4,
        github: "",
        tags: ["React", "Astro", "Tailwind CSS","TypeScript","Django","PostGreSQL"],
    },
    {
        title: "Serfer & Asociados - Sistema personalizado para Control y Venta de Lotes e Imobiliaria",
        description: "Sistema para Control y Venta de Lotes e Imobiliaria personalizado para la empresa Serfer & Asociados.",
        link: "",
        image: srcImage5,
        github: "",
        tags: ["React", "Tailwind CSS","TypeScript","Django","PostGreSQL","Docker"],
    }
];

const ICONS = {
  Django,
  React,
  HTML: Html,
  CSS: Css,
  JavaScript: Javascript,
  PHP: Php,
  MySQL: Mysql,
  WordPress: WordPress,
  PostGreSQL: PostGreSQL,
  Astro: AstroIcon,
  TailwindCss: TailwindCss,
  TypeScript: TypeScript,
  Docker: Docker,
};
---

{
    PROJECTS.map((project) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 mb-10">
            <div class="flex flex-col w-full md:w-1/2">
                <h3 class="text-white text-2xl font-bold">{project.title}</h3>
                <p class="text-white">{project.description}</p>
                <div class="flex flex-wrap gap-2 mt-4">
                    {project.tags.map((tag) => {
                        const Icon = ICONS[tag as keyof typeof ICONS];
                        return (
                            <span class="text-sm  px-2 py-1 bg-[#1a1a1a] shadow-xl rounded-md flex items-center gap-2 
                                hover:bg-[#2a2a2a] hover:scale-110 hover:cursor-pointer transition-all duration-300">
                                {Icon ? <Icon class="size-7" /> : null}
                                {tag}
                            </span>
                        );
                    })}
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div
                    class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 
                    ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 
                    md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
                >
                    <Image src={project.image} alt={project.title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" />
                </div>
            </div>
        </article>
    ))
}
